<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
    <title>Advertisements</title>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Advertisements</h1>

      <% ads.forEach((ad) => { %>
        <a href="/ads/<%= ad.id %>" >
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="title"><%= ad.title %></h5>
              <p class="description"><%= ad.description %></p>
            </div>
          </div>
        </a>
      <% }) %>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>