<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
  <title>New Topic</title>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>
  <main class="container">
    <h1>New Topic</h1>

    <form action="/topics/create" method="post">
      <div class="form-group">
        <label for="">Topic title</label>
        <input type="text" name="title" class="form-control" aria-describedby="titleHelp" placeholder="Enter Title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" rows="4" placeholder="Enter Description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>
  <% include ../static/partials/baseScripts.ejs %>
</body>
</html>
