<!DOCTYPE html>
  <head>
    <% include ./partials/head.ejs %>
    <title>About Us</title>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>

    <main class="container">
      <h4>About Us</h4>
    </main>

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>